    {% extends "main/base.html" %}
    {% load static %}
    {% block content %}

  <!-- hero section -->
  <section id="hero" style="background-image: url('{{ campaign.background.url }}');">
    <div class="container">
      <h1 class="hero-heading">{{ campaign.title}}</h1>
      <p class="hero-heading-desc">{{ campaign.description}}</p>
  </section>

  <!-- Row 2 -->
  <section id="row2">
    <div class="container">
      <h1 class="join-heading">{{ campaign.commitment_section_title }}</h1>
      <p class="join-desc">{{ campaign.commitment_section_description}}</p>
      <div class="row">

 {% for i in frames %}
        <div class="col-lg-6">
          <img src="{{ i.frame.url }}" alt="" width="100%" class="frame-img">
          <h2 class="frame-heading">{{ i.frame_heading }}</h2>
          <p class="frame-desc">{{ i.frame_desc }}</p>
          <a href="{% url 'upload' i.id i.campaign.id %}" class="frame-link">{{ i.cta }}</a>
        </div>
{% endfor %}

      </div>
    </div>
  </section> 

{% endblock content %}